# Configuration file

####################
# entity
####################

entity {
    I:entity.book.id=219
    I:entity.falling.id=218
    I:entity.meteor.id=217
}


####################
# general
####################

general {
    B:crafting.linkeffects.disarm.enabled=true
    B:crafting.linkeffects.generate_platform.enabled=true
    B:crafting.linkeffects.intra_linking.enabled=true
    B:crafting.linkeffects.maintain_momentum.enabled=true
    B:crafting.linkeffects.relative.enabled=true
    B:options.binder.enabled=true
    B:options.bookstand.enabled=true
    B:options.command.spawnmeteor.enabled=false
    B:options.desk.enabled=true
    B:options.deskback.enabled=true
    S:options.difficultyoverride=
    B:options.fastRainbows=true
    B:options.inkmixer.enabled=true
    B:options.instability=true
    B:options.lectern.enabled=true
    B:options.linkbook.enabled=true
    B:options.notebook.enabled=true
    I:options.providerId=1210950779
    B:options.receptacle.enabled=true
    B:options.renderlabels=false
    B:options.respawnInAges=true
    B:options.villageDeskGen=true
    I:villager.archivist.id=1210950779
}


####################
# instability
####################

instability {
    D:fluid.honey.instability.perblock=0.10000000149011612
    D:fluid.myst.ink.black.instability.perblock=0.10000000149011612
    D:fluid.poison.instability.perblock=0.10000000149011612
    D:fluid.spring_water.instability.perblock=0.10000000149011612
    D:fluid.tile.lava.instability.perblock=0.10000000149011612
    D:fluid.tile.water.instability.perblock=0.10000000149011612
}


